<div class="row">
{{#each blog}}
	<div class="col lg2 m4 s6">
	<div class="blog-conetent">
		<span class="title">{{title}}</span>
		<span class="date">{{date}}</span>
		<br>
		<span class="entry">{{entry}}</span>

	</div>
	</div>
{{/each}}
</div>

